@page "/addKontrahent"


<h3>Kontrahent Form</h3>
<EditForm EditContext="editContext" OnValidSubmit="HandleValidSubbmit" @onreset="HandleReset">

</EditForm>

@code {
    private EditContext editContext;

    private void HandleValidSubbmit()
    {
        
    }

        private void HandleReset()
    {
        
    }
}
