@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <ErrorBoundary @ref="errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <p>Sorry there nothing here to see!</p>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

@code{
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        //reset errorBoundary (for error show only on this site, another site is reset this error)
        errorBoundary?.Recover();
    }
}
